<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <form action="/admin/login" method="post" >
    <div class="container p-4">
        <div class="col-sm-5">
                <h3 class="text-uppercase text-center">Login</h3>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" value="test@gmail.com" class="form-control py-2" >
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control py-2">
                </div>
                <input type="submit" value="Login" class="mt-2" >
        </div>
    </div>
    </form>
</body>
</html>